@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

nav {
  display: inline-block;
}
